/* CSS declarations go here */

body {
    font-family: Vollkorn;
    font-size: 160%;
    line-height: 160%;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    line-height:100%;
    margin-top: 0.5em;
    margin-bottom: 4em;
    color: #98E074;
    font-weight: 400;
    text-align: center;
    font-size: 2.4em;
}

a {
    color: #36AECC;
    text-decoration: none;
}

a:visited {
    color: #AAA;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.logo {
  height: 2em;
}

code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    background-color: #E8F2F5;
    font-size: 40%;
    line-height: 1.4em;
    margin-left: -1em;
    overflow: auto;
}

.toilet{
    font-size: 9em;
    text-align: center;
}

* {
    background-color: #7156FD;
}

.emojis{
    font-size: 1em;
    padding: 20px;
}
